//- Add messages

html
	head
		include navBar.pug
		title add message #{title} 
	body
		div.addMessageContainer
			form.addMessage(method="POST", action="/addMessages")
				p.name
					input.inputName(type="text", name="name", value="your username", autocomplete="off")
				p.titleMessage
					input.inputTitleMessage(type="text", name="title", value="title of your message", autocomplete="off")
				p.bodyMessage
					input.inputBodyMessage(type="text", name="bodyMessage", value="body of your message", autocomplete="off")
				p.submitMessage
					input.inputSubmitMessage(type="submit", name="submit", value="Add message", autocomplete="off")

	style
		include addMessage.css					

