body {
    margin:0 ;
    background-color: lightCoral;
    height: 100%;
}

.table1 {
    margin: 0 auto;
    border: solid 1px;
    text-align: left;
}

th {
    border: solid 0.5px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

td {
    border: solid 0.5px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
