body {
    margin:0 ;
    background-color: lightCoral;
    height: 100%;
}

/*ul.listContainer {
    list-style-type: none;
    text-decoration-style: none;
    background-color: lightGreen;
    width: 100%;
}

li.listItemMessage{
    text-align: center;
    list-style-type: none;
    text-decoration-style: none;
    border: solid 0.5px;
    padding-top: 1px;
    margin-right: 20px;
}
*/
td{
    font-size: 30px;
    color: black;
    float: right;
}